@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

html,
body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

/* a {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  font-weight: 400;
} */

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

.border {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
}
